<phpunit backupGlobals="false"
         backupStaticAttributes="false" 
         bootstrap="bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         verbose="false">
    <filter>
        <whitelist>
            <directory>../library/</directory>
        </whitelist>
    </filter>
</phpunit>